.gameboard-container {
  background-color: azure;
}

.gameboard {
  background-color: brown;
  margin: 0 auto;
  width: 30%;
  aspect-ratio: 1 / 1;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  background-color: burlywood;
}
